@charset "UTF-8";

.tableTitle{
	width: 200px;
}

.ctn {
	padding: 100px;
}

#inputInfo, #resultTable{
	margin: 20px 10px; 
}

#inputInfo td, #resultTable td{
	height: 40px;
}
 	
#inputName{
	width: 120px;
}
 	
.tableContent{
	vertical-align: top;
}