@charset "UTF-8";

.tableTitle{
	width: 200px;
}

.ctn {
	padding: 100px;
}

#inputInfo, #resultTable{
	margin: 20px 10px; 
}

#inputInfo td, #resultTable td{
	height: 40px;
}
 	
.tableContent{
	vertical-align: top;
}

.inputName{
	width: 40%;
}

.inputHere{
	width: 60%;
}

#cal-description{
	min-width: 560px;
}

#calculator2{
	min-width: 400px;
	margin-bottom: 40px;
}

#outcome{
	min-width: 250px;
}