@charset "UTF-8";

.payment-complete {
	font-family: 'Noto Sans KR', sans-serif;
}

.payment-complete-container {
	width: 480px;
	margin: 0 auto;
	padding: 30px 5px 80px;
}

.payment-complete-wrap {
	margin: 20px 0;
	font-size: 16px;
}

.payment-complete-wrap div:nth-child(1) {
	display: inline-block;
	width: 200px;
	text-align: right;
}

.payment-complete-wrap div:nth-child(2) {
	display: inline-block;
	text-align: left;
	font-weight: bold;
}

.payment-complete h2 {
	font-size: 28px;
	text-decoration: none;
}

.payment-complete h4 {
	font-size: 15px;
	text-decoration: none;
}

.payment-complete-btn {
	padding-top: 10px;
	text-align: center;
}


.sub-list {
	margin-top: 50px;
	margin-bottom: 200px;
}

.sub-list div:nth-child(1) {
	height: 42px;
	padding-bottom: 5px;
}

.sub-list-mylist {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 28px;
}

.sub-list-empty {
	padding-top: 150px !important;
	padding-bottom: 150px !important;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 20px;
}

#backscreen-3 .black-model-section{
	padding-bottom: 30px;
}

.bttn-ggreen {
	background-color: #09cc7f;
	outline: none 0px !important;
}

.sub-info-nickname {
	margin-top: 50px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 32px;
}

.sub-info-title {
	height: 42px;
	padding-bottom: 5px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 28px;
}

.sub-info-portfolio {
	margin-top: 30px;
}

.sub-info-stock {
	margin-top: 30px;
}

.sub-info-bond {
	margin-top: 30px;
}

.sub-info-calculator {
	margin-top: 30px;
	margin-bottom: 50px;
}

.sub-info-chart {
	width: 50%;
	margin: 0 auto;
	padding-top: 10px;
}

.sub-info-chart-empty {
	font-family: 'Noto Sans KR', sans-serif;
	color: #8f9094;
	font-size: 20px;
}

.sub-info-chart canvas {
	margin: 0 auto;
}

.sub-info-chart div {
	margin-top: 10px;
	text-align: center;
}

.sub-info-bttn-container button, .sub-info-bttn-container span{
	margin-bottom: 3px;
}

.sub-info-cal-symbols {
	padding-top: 5px;
}

.sub-info-cal-symbols select, .sub-info-cal-symbols option {
	font-size: 12px;
	font-family: '돋움', sans-serif;
	padding: 3px;
}

.sub-info-table-empty {
	padding-top: 70px !important;
	padding-bottom: 70px !important;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 20px;
}

@media ( max-width: 768px ) { 
	.sub-info-chart {
		width: 70%;	
	}
}
