@charset "UTF-8";

@font-face {
    font-family: 'BMEULJIRO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MapoDPPA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoDPPA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.button4 {
	border: none;
	color: white;
	padding: 4px 4px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 0 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: white;
	color: black;
	border: 1px solid black;
	border-radius: 3px;
}	

.button4:hover {
	background-color: #E7E7E7;
}

.button5 {
	border: none;
	color: white;
	width: 66%;
	height: 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px;
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: #F6F6F6;
	color: black;
	border-radius: 3px;
}	

.button5:hover {
	background-color: #E7E7E7;
}

#header {
	color: #828282;
	display: flex;
	float: right;
}

#header div {
	line-height: 0px;
	float: right;
}

.wrapper {
	overflow: hidden;
}

.container {
	border: 1px solid #e5e5e5;
	margin: 0 auto;
	width: 500px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

.container .mainA{
	font-family: 'MapoDPPA';
	font-size: 50px;
	text-decoration: none;
}
.container .mainA:link, .container .mainA:visited, .container .mainA:active {
	color: black;
}

.container h2{
	font-family: 'MapoDPPA';
}

.loginForm input {
	font-size: 16px;
	width: 66%;
	padding: 10px 10px;
	margin: 4px 0;
	box-sizing: border-box;
}

.registrationForm input {
	font-size: 16px;
	width: 66%;
	padding: 10px 10px;
	margin: 4px 0;
	box-sizing: border-box;
}

.nicknameForm input {
	font-size: 16px;
	width: 66%;
	padding: 10px 10px;
	margin: 4px 0;
	box-sizing: border-box;
}

.loginForm fieldset {
	margin: 0 auto;
	width: 66%;
	border-color: #F6F6F6;
	border-width: 1px 0 0 0;
}

.loginForm legend {
	text-align: center;		
	font-size: 12px;	
}

.kakao-btn {
	margin: 0 auto;
	width: 66%;
	height: 50px;
	background-color: #FFDE00;
	border-radius: 3px;
	padding: 0;
	cursor: pointer;
}

.naver-btn {
	margin: 5px auto;
	width: 66%;
	height: 50px;
	background-color: #1ec800;
	border-radius: 3px;
	padding: 0;
	cursor: pointer;
}

.btn-span1 {
	float: left;
	width: 50px;
	height: 50px;
	margin: 0;
}

.btn-span2 {
	width: 100%;
	height: 50px;
	margin: 0;
	text-align: center;
	line-height: 50px;
}

.loginForm-footer {
	height: 35px;
	padding: 50px 30px 0;
}

.loginForm-footer span:nth-child(1) {
	float: left;
}
.loginForm-footer span:nth-child(2) {
	float: right;
}

.registrationForm div {
	margin: 0 auto;
	width: 66%;
	height: 20px;
	color: red;
	font-size: 10px;
	text-align: left;
	padding-bottom: 5px;
}

.section {
	border: none;
	width: 420px;
	height: 100px;
	font-family: 'MapoDPPA';
	display: inline-block;
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: #F6F6F6;
	color: black;
	border-radius: 3px;
}

.section:hover {
	background-color: #E7E7E7;
}

#sec1 {
	width: 100px;
	height: 100px;
	float: left;
	line-height: 100px;
	font-size: 30px;
}
#sec2 {
	width: 40px;
	height: 100px;
	float: right;
	font-size: 20px;
	text-align: left;
	line-height: 100px;
}
#sec3 {
	width: 230px;
	height: 100px;
	float: right;
	display: table;
	font-size: 20px;
	text-align: left;
}

#sec4 {
	display: table-cell;
	vertical-align: middle;
}

.transactionList {
	font-family: 'MapoDPPA';
	color: #C5C1C0;
}

.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: #C5C1C0;
	font-size: 15px;
	margin: 50px 0px 8px;
	padding: 10px 42px;
}
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: #C5C1C0;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 16px;
}

.tran {
	text-align: left;
	margin-bottom: 20px;
	padding: 0 42px;
}

.tran2 {
	font-size: 20px;
	color: black;
}

.tran3 {
	float: right;
}

#sec5 {
	text-align: left;
	padding: 23px 30px;
}

#sec6 {
	font-size: 15px;
}

#sec7 {
	font-size: 30px;
}

.balance {
	color: #C5C1C0;
	font-size: 15px;
	font-family: 'MapoDPPA';
	text-align: left;
	padding: 0 42px;
	margin: 20px 0;
}

.bal2 {
	color: black;
	font-size: 20px;
	float: right;
}

.container2 {
	width: 1200px;
	padding-left: 50px;
	padding-right: 50px;
}

.container2 h2 {
	text-align: left;
}

.table {
	color: #858796;
	border: 1px solid #e3e6f0;
	border-collapse: collapse!important;
}

.table td,.table th{
	border: 1px solid #dddfeb;
	padding: 5px;
}

.table td {
	text-align: center;
}

.table th {
	text-align: left;
}

.table thead th {
	border-top-width: 2px;
	border-bottom-width: 2px;
}

table tr td:nth-child(1), table tr th:nth-child(1) {
	width: 22px;
	height: 22px;
}

#stock-table {
	width: 800px;
}

#bond-table {
	width: 1200px;
}

.stock-list {
	padding-bottom: 70px;
}

.btn-list {
	text-align: left;
	padding-bottom: 5px;
}

.btn-list button {
	margin: 0;
}

.stock-right-btn {
	position: relative;
	left: 469px;
}

.bond-right-btn {
	position: relative;
	left: 868px;
}

.container2 input[type=submit] {
	width: 16px;
	height: 16px;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto; /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.empty_stock_bond {
	height: 50px;
	color: black;
	font-family: 'MapoDPPA';
	font-size: 20px;
}

.portfolio {
	float: right;
}

.portfolio div {
	margin-top: 10px;
}

.portfolio canvas {
	width: 400px;
	height: 200px;
}

.text-success {
  color: #1cc88a !important;
}

.text-info {
  color: #36b9cc !important;
}

.text-primary {
  color: #4e73df !important;
}

.tran-dropdown {
  position: relative;
  display: inline-block;
}

.tran-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  max-height: 200px;
  overflow-y: auto; /* prevent horizontal scrollbar */
  overflow-x: hidden;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.tran-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-family: 'MapoDPPA';
  display: block;
}

.tran-dropdown-content a:hover {background-color: #ddd;}

.tran-dropdown:hover .tran-dropdown-content {display: block;}

.tran-dropdown:hover .section {background-color: #E7E7E7;}