<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bit.it.into.mapper.BondMapper">

	<select id="getList" resultType="bondDto">
        SELECT * FROM BOND
    </select>
	
	<insert id="writeBond">
        INSERT INTO BOND VALUES (#{bond_symbols}, '00000', #{total_interest}, #{bond_company}, #{bond_price}, 
						#{bond_date}, #{coupon_interest_rate}, #{discount_rate}, 
						#{gross_price}, #{maturity_date}, #{grade})
    </insert>
    
    <delete id="delete">
    	DELETE FROM BOND WHERE bond_symbols = #{bond_symbols}
    </delete>
    
    <update id="update">
    	UPDATE BOND SET total_interest = #{total_interest}, 
    					bond_company = #{bond_company}, 
    					bond_price = #{bond_price}, 
						bond_date = #{bond_date}, 
						coupon_interest_rate = #{coupon_interest_rate}, 
						discount_rate = #{discount_rate}, 
						gross_price = #{gross_price}, 
						maturity_date = #{maturity_date}, 
						grade = #{grade}
					WHERE bond_symbols = #{bond_symbols}
    </update>

</mapper>