<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="bit.it.into.mapper.StockBondMapper">
	
	<resultMap id="StockInfo" type="bit.it.into.dto.StockInfoDTO">
		<id property="stockinfo_symbols" column="stockinfo_symbols"/>
		<result property="code" column="code" />		
	</resultMap>
	
	<resultMap id="Stock" type="bit.it.into.dto.StockDTO">
		<id property="member_num" column="member_num" />
		<id property="stockinfo_symbols" column="stockinfo_symbols" />
		<result property="company" column="company" />
		<result property="purchase_price" column="purchase_price" />
		<result property="quantity" column="quantity" />
		<result property="target_price" column="target_price" />
		<result property="net_profit" column="net_profit" />
		<association property="stockInfoDTO" resultMap="StockInfo" />
	</resultMap>
	
	<select id="selectStockList" resultMap="Stock" >
		<![CDATA[
			SELECT * 
			FROM stock s 
				INNER JOIN stock_info si ON s.stockinfo_symbols = si.stockinfo_symbols 
			WHERE member_num=#{member_num}
		]]>
	</select>
	
	<select id="selectBondList" resultType="bit.it.into.dto.BondDTO" >
		<![CDATA[
			SELECT * FROM bond WHERE member_num=#{member_num}
		]]>
	</select>
	
</mapper>