<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="bit.it.into.mapper.UserMapper">
	<update id="updateUserToken">
		<![CDATA[
			UPDATE member SET access_token=#{access_token}, refresh_token=#{refresh_token}, user_seq_no=#{user_seq_no} WHERE member_num=#{member_num}
		]]>
	</update>
	
	<insert id="insertAccount">
		<![CDATA[
			INSERT INTO account(member_num, fintech_use_num, account_alias, bank_name) VALUES(#{member_num}, #{fintech_use_num}, #{account_alias}, #{bank_name})
		]]>
	</insert>
	
	<select id="selectPwdEmail" resultType="String">
		<![CDATA[
			select email from member where id = #{id}
		]]>
	</select>
	
	<update id="updatePwd">
		<![CDATA[
			update member set pw = #{pw} where id = #{id}
		]]>
	</update>
	
	<select id="selectIdEmail" resultType="String">
		<![CDATA[
			select email from member where name = #{name} and sns_type = 'normal'
		]]>
	</select>
	
	<select id="selectIdInfo" resultType="bit.it.into.dto.MemberDTO">
		<![CDATA[
			select * from member where email= #{email}
		]]>
	</select>
	
	<update id="updateNickname">
		<![CDATA[
			update member set nickname = #{nickname} where id = #{id}
		]]>
	</update>
	
	<update id="updatePhone">
		<![CDATA[
			update member set phone = #{phone} where id = #{id}
		]]>
	</update>
	
	<update id="updateId">
		<![CDATA[
			update member set id = #{id} where nickname = #{nickname}
		]]>
	</update>
	
	<update id="updateEmail">
		<![CDATA[
			update member set email = #{email}
		]]>
	</update>
	
	<update id="updatePw">
		<![CDATA[
			update member set pw = #{pw} where nickname = #{nickname}
		]]>
	</update>
	
	<delete id="deleteAuthorities">
		<![CDATA[
			delete from authorities where member_num = #{member_num}
		]]>
	</delete>
	
	<delete id="deleteStock">
		<![CDATA[
			delete from stock where member_num = #{member_num}
		]]>
	</delete>
	
	<delete id="deleteCalculator">
		<![CDATA[
			delete from calculator where member_num = #{member_num}
		]]>
	</delete>
	
	<delete id="deleteBond">
		<![CDATA[
			delete from bond where member_num = #{member_num}
		]]>
	</delete>
	
	<delete id="deleteRank">
		<![CDATA[
			delete from rank where member_num = #{member_num}
		]]>
	</delete>
	
	<delete id="deleteAccount">
		<![CDATA[
			delete from account where member_num = #{member_num}
		]]>
	</delete>

	<delete id="deleteOrders">
		<![CDATA[
			delete from orders where member_num = #{member_num}
		]]>
	</delete>
	
	<delete id="deleteComments">
		<![CDATA[
			delete from comments where member_num = #{member_num}
		]]>
	</delete>
	
	<delete id="deleteBoard">
		<![CDATA[
			delete from board where member_num = #{member_num}
		]]>
	</delete>
	
	<delete id="deleteMember">
		<![CDATA[
			delete from member where member_num = #{member_num}
		]]>
	</delete>
	
	
</mapper>